In [1]:
# Function to print all combinations of pairs of integers in a unique list
#[1,2,3] -> (1,2),(1,3),(2,3) -> 3c2 -> 3!/(3-2)!*2!)

#[1,2,3,4] -> (1,2),(1,3),(1,4),(2,3),(2,4).(3,4)

def combinations(li):
    for i in range(len(li)-1):
        for  j in range(i+1,len(li)):
            print(li[i],li[j])
    return
combinations([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [9]:
import itertools
list(itertools.product([1,2,3,4],[2,3,4]))
#for i in zip([1,2,3,4],[2,3,4]):
#    print(i)

[(1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 2),
 (4, 3),
 (4, 4)]

In [16]:
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)):
            for m in range(j+1,len(li)):
                print(li[i],li[j],li[m])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [23]:
def differencePairs(li):
    for i in range(len(li)-1):
        for  j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                    li.append(d)
    return li
li=[1,9]        
differencePairs(li)

[1, 9, 8]

In [24]:
def medium(li):
    while True:
        li2=differencePaires(li)
        if len(li2)==0:
            break
        return

def differencePairs(li):
    li1 = li
    
    for i in range(len(li)-1):
        for  j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                    li.append(d)
    return li
li=[1,9]        
differencePairs(li)

[1, 9, 8]

In [38]:
# 
def differencePairs(li):
    cli=li[:]
    newelements = []
    for  i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli,li]
li=[1,9,3]-
differencePairs(li)

[[1, 9, 3], [1, 9, 3, 8, 2, 6]]

In [ ]:
data=input()
char="abcdefghijklmnopqrstuvwxyz"

In [ ]:
def differencePairs1(li):
    c=li.copy()
    newelements = []
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newlements.append(d)
    li.extend(newelements)
    return li

## SET 
 - denotes with  { }
 - store only unique data

In [48]:
a = {1,2,3,4}
print(a)
a.add(3)
#print(a)
b = {42,2,344,1,33,4}
a.update(b)
a.remove(1)
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4}
{2, 3, 4, 33, 42, 344}

In [54]:
#a.remove(2)
a
a.discard(33)
a

{3, 4, 42, 344}

In [60]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a.intersection(b)

{1, 2, 3}

In [56]:
a

{1, 2, 3, 4, 5, 6, 10}

In [58]:
a.isdisjoint(a)

False

In [61]:
a.isdisjoint(c)

True

In [65]:
a.isdisjoint(c)

True

In [66]:
a-b # return a elements who are not in b

{4, 5, 6, 10}

In [68]:
b-a

{7, 8, 9}

In [69]:
sorted(a) #return in list

[1, 2, 3, 4, 5, 6, 10]

In [70]:
print(a,b)

{1, 2, 3, 4, 5, 6, 10} {1, 2, 3, 7, 8, 9}

In [71]:
a^b #uncommon elements

{4, 5, 6, 7, 8, 9, 10}

In [74]:
d=list()
d

[]

In [78]:
a=dict()
type(a)

dict

In [77]:
a=set()
type(a)

set

- Procedural :- C
- Object orianted:- Java, Python
- Scripting:- Php,Peral,Python,javascript
- Functional:- Python
- Logic:- Prolog, Lisp

## List comprehension

In [79]:
n=10
li=[]
for o in range(n):
    li.append(o)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
a = [x for x in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
# Apply list comprehension to store in list
# cubes on a natural numbers

li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [88]:
# Function to calculate factorial 

def factorial(n):
    if n==1 or n==1:
        return 1
    return n* factorial(n-1)

# Apply list comprehension to calculate  factorial of n natural numbers
n = 10
factorialList = [factorial(n) for  n in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
factorialList = [[if n==1 or n==1 1 else n] for  n in range(1,n+1)]

In [92]:
# store cumulative sum of numbers 
#n=3 [1,2,3]
a=[j*x  for x in range(1,x) for j in range(n)]
a

NameError: name 'x' is not defined

In [106]:
def cumulative(m):
    return sum([x for x in range(m,0,-1)])
    
n=[cumulative(v) for v in range(1,5+1)]
n

[1, 3, 6, 10, 15]

In [107]:
def cumulative(m):
    return [x for x in range(m,0,-1)]
    
n=[sum(cumulative(v)) for v in range(1,5+1)]
n

[1, 3, 6, 10, 15]

In [109]:
cumulativeSum = [sum(range(1,i+1)) for i in range(1,5+1)] 
cumulativeSum

[1, 3, 6, 10, 15]

In [124]:
# List Comprehension to store only leap years in a given period

sty = 1970
endy = 2019
leapyears = [year for year in range(sty,endy+1) if ((year%400==0) or (year%100!=0 and year%4==0))]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [128]:
li= [1,2,3,2,1]
unique=[]
unique = [i for i in set(li)]
unique

[1, 2, 3]

In [129]:
li= [1,2,3,2,1]

unique = [d[i]=d.get(i,0) for i in li ]

SyntaxError: invalid syntax (<ipython-input-129-a720e7684144>, line 3)

In [12]:

li = [1,2,3,2,1, 4, 4, 5,5,5]
li.sort()
u2 = []
unique = []
#unique = [li[i] for i in range(0,len(li)-1) if (li[i] != li[i+1] and i < len(li)-1) or (i == len(li)-1)]
[u2.append(i) for i in li if i not in u2 ]
print(u2)
unique=_
unique

[1, 2, 3, 4, 5]

[]

In [133]:
li= [1,2,3,21,1]
l=[int(chr(i)) for i in range(48,57+1) if int(chr(i)) in li]
l

[1, 2, 3]

### Iterators
Iterable :- Strings,Lists,Tuple,Sets,Dictionaries
Convert Iterable to Iterator -> iter()

For Loop:

Iterator:

In [147]:
a='python'
it=iter(a)
it

In [149]:
print(next(it))
print(next(it))

y
t

## Generators

In [161]:
def generators():
    n=2
    yield n
    n=n**3
    yield n
    n=n**3
    yield n

a=generators()
'''
for i in range(10):
    print(next(a))
'''
print(next(a))
print(next(a))
print(next(a))

2
8
512

In [163]:
def generators():
    n=2
    for i in range(1,5):
        n**=3
        yield n
    
a=generators()
next(a)

8

In [175]:
def generators():
    n=2
    while True:
        n**=3
        yield n
    
a=generators()
#next(a)
b= next(a)**2
b*=next(a)
b

32768

In [17]:
a="venkataravi,9987888888,satyanarayana0099@gmail.com"
a
def check(name):
    p=name+','
    import re
    return re.match(p,a)
print(check('venkataravi'))

<re.Match object; span=(0, 12), match='venkataravi,'>