## Python Library for Data Analysis
### Panadas -Data
- Processing/Accessing DataFrames
    - Columns
    - Rows
- Update DataFrames
-

In [7]:
# Function to read CSV data into DataFrame
# returns the DataFrame object

# CSV-->comma seperated values
filepath="DataFiles/income.csv"
import pandas as pd
def readCSVData():
    return pd.read_csv(filepath)
    
readCSVData()

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919

In [11]:
# Access to print all column names in a single line
# GEOID State 2005	2006	2007	2008	2009	2010	2011	2012	2013

def printHeadings(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
        
incomedf=readCSVData()
printHeadings(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [17]:
# Function to access to row based on a unique column values

def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            print(row[2:])
    
accessDataFrameRow(incomedf,"Alaska")

[55891 56418 62993 63989 61604 57848 57431 63648 61137]

In [23]:
# Accessing a unique value based on row,column in DataFrame
# Income of a state in a  particular year

def incomeParticularYear(df,sk,yk):
    d=list(incomedf.columns).index('2008')
    for row in df.values:
        if sk in row:
            #print(dir(row))
            print(row[d])

#print(d.index('2008'))
incomedf=readCSVData()
incomeParticularYear(incomedf,'Alaska','2008')

63989

In [31]:
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]:
            rowindex=i
    return rowindex
def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
            if df.columns[i]==columnkey:
                columnindex=i
    return columnindex

def valueFromRowColumn(df,rowkey,columnkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]:
            rowindex=i
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return df.values[rowindex,columnindex]

valueFromRowColumn(incomedf,"Caifornia","2008")

57014

In [4]:
# Function to update data based on rowkey and columnkey    

def updateDataFormRowColumn(df,rowkey,columnkey,new):
    rowindex = getRowIndex(df,rowkey)
    columnindex = getColumnIndex(df,columnkey)
    print(rowindex,columnindex)
    row=df.values[rowindex]
    row[columnindex]=new
    df.loc[rowindex]=row
    #print(df.DataFrame)
    return 
updateDataFormRowColumn(incomedf,"Arizona","2007",'11111')
incomedf

NameError: name 'incomedf' is not defined

In [56]:
# Function to write DataFrame to CSV File

incomedf.to_csv(filepath,index=False)

In [2]:
def addRowDataDataFrame(df,rowdata):
    lastrowindex = len(df.values)-1
    df.loc[lastrowindex+1]=rowdata
    return

rowdata=[]
addRowDataDataFrame(incomedf,rowdata)
incomedf

NameError: name 'incomedf' is not defined

In [ ]:
# Function to Delete a row in a DataFrame

def deleteRowDataFrame(df,rowkey):
    rowindex=getRowIndex[rowkey]
    df.drop()
    return

deleteRowDataFrame(incomedf,1)
incomedf